<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>my SPA</title>
</head>
<body>

<div id="add_form">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="phone" placeholder="phone">
    <input type="text" name="pobox" placeholder="pobox">
    <button> Send </button>
</div>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Phone</th>
        <th>Pobox</th>
    </tr>
    </thead>
    <tbody id="mainTable"> </tbody>
</table>

<script src="table_create.js"></script>
</body>
</html>